<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="sentry-trace" content="{{ span.toSentryTrace() }}" />
    <meta name="title" content="Todos" />
    <meta
      name="description"
      content="Automate your verifications, completely free of charge."
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" />
    <meta name="referrer" content="strict-origin-when-cross-origin" />
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
